/* Variables */
:root{
    --primaryfont: #5c5368;
    --secondaryfont: #525253;
    --tertiaryfont: #2a2ac5;
    --headerfootercolor: #fbfcf8;
    --hovercolor: #7a6c35;
    --cellbackground: #dfdcab;
    --cellborder: #bebec0;
    --background:#e4e3d1;
    --captionbackground:#c5b55c;
    --headerfooterbackground:#0f0f0f;

    --gap: 20px;
    --leftright: 10px;
    --topbottom: 10px;
    --borderradius: 10px;
    --cellborderweight: 2px;
    --maxwidth: 70%;
  }

/* Temporary */
img{
    width: 150px;
    height: auto;
}

/* Reset */

body,p,a,ul,li{
    margin: 0;
    text-decoration: none;
  }

li{
    list-style-type: none;
  }

*{
  box-sizing: border-box;
}


/* Base styles */
body{
    background-color: var(--background);
    font-family: 'Montserrat';
    font-size: 14px; 
}

/* fonts */
@font-face {
    font-family: 'Montserrat';
    src: url("../font/Montserrat-VariableFont_wght.ttf") format("truetype");
}

h1,h2,h3,h4{
    color: var(primaryfont);
    font-weight: normal;
    line-height: 1.4em;
  }

p,a,li{
    color: var(secondaryfont);
    line-height: 1.4em;
    font-size: 1em;
    padding: 0.5em 0;
  }

h1 {
    font-size: 1.6em;
  }

h2 {
    font-size: 1.4em;
    font-weight: bold;
  }

h3{
    font-size: 1.2em;
  }

h4{
    font-size: 1.1em;
  }

/* Header */
header h1{
    margin: 30px 0;
    text-align: center;
}

.header {
    background-color: var(--headerfooterbackground);
    color: var(--headerfootercolor);
    padding: 0 0;
    margin: 0 0;
}

.header a{
    color: var(--headerfootercolor);
    padding: 10px 10px;
}

nav {
    display: block;
    padding: 0 0;
}

.navigation {
    margin: 0 0;
    padding: 10px 0;
}

/* body */
body {
  max-width: 800px;
  margin: auto;   
}

/* Welcome */
#welcome{
  text-align: center;
  padding: var(--topbottom) var(--leftright);
}

.birthday_banner{
  width: 100%;
  height: auto;
  margin: 0 0 20px 0;
}

.banner{
    text-align: center;
    padding: 40px var(--topbottom);
    font-size: 1.4em;
}

/* Recruitment */
#recruitment{
  text-align: justify;
  padding: var(--topbottom) var(--leftright);
}



/* Practice */

#practice{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: var(--gap);
  justify-items: center;
  justify-content: center;
}

#practice div{
  border-radius: var(--borderradius);
  border: solid var(--cellborderweight) var(--cellborder);
  background: var(--cellbackground);
  padding: 10px;
}

.practice_header{
  grid-column: 1 / -1;
  text-align: center;
}

.practice_map{
  justify-items: center;
  justify-content: center;
  width: 100%;
  border-radius: var(--borderradius);
  border: solid var(--cellborderweight) var(--cellborder);
  background: var(--cellbackground);
  padding: 10px;
}

.map{
  margin: auto;
}

/* Programme */
#practice{
  text-align: justify;
  padding: var(--topbottom) var(--leftright);
}


/* mobile styles */

/* small tablet styles */

@media screen and (min-width: 620px){
    body{
        font-size: 16px;
        max-width: 90%;
        
    }
}

/* large tablet & laptop styles */

@media screen and (min-width: 960px){
    body{
        font-size: 18px;
        max-width: 80%;        
    }
}

/* desktop styles */

@media screen and (min-width: 1200px){
    body{
        font-size: 20px;
        max-width: 70%;
        
    }
}


